:root {
    --footer-color: #383638;
    --main-color: #E2E2E2;
    --bckg-color: black;
    --logo-color: #1D1D1D;
    --quote-color: #0B0F15;
    --pic-group-color: #0B0F15;
    --pic-group-border-color: rgba(255, 255, 255, 0.10);
    --button-color: black;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--bckg-color);
    color: var(--main-color);
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
}

main {
    text-align: center;
}

.wrapper {
    max-width: 390px;
    min-width: 355px;
}

.nav {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 220px;
    margin-top: 40px;
    margin-bottom: 69px;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--footer-color);
    font-size: 1.6rem;
    line-height: 130%;
    text-align: left;
}

section {
    margin: 0;
}

h1 {
    font-size: 1.4rem;
    margin: 0;
}

h1,
.testimonial .name {
    font-weight: 600;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

button {
    background-color: var(--bckg-color);
}

.video {
    color: var(--main-color);
}

.action h1,
.action p,
.count,
.recommendation blockquote {
    font-family: 'Nunito', sans-serif;
}

#str-1,
.video,
.title p,
.pic-and-text,
.rating,
.footer-title,
.action a,
.links,
.services a,
.portfolio a {
    font-weight: 700;
}

.title p,
.portfolio .pic-and-text {
    font-size: 2.4rem;
}

.action h1 {
    font-size: 2.8rem;
    font-weight: 800;
    margin: 0 27.8px 0 34.2px;
}

.logo-1#str-2,
.action a,
.count,
.links,
.video {
    font-size: 1.2rem;
}

.assessment {
    font-size: .6rem;
    opacity: 0.5;
    width: 48px;
    margin: 0;
    position: absolute;
    top: 14px;
    right: 19px;
    bottom: 31px;
    left: 32px;
}

.recommendation .name {
    font-size: .5rem;
    font-weight: 600;
    margin: 0;
}

.quote .company {
    font-size: .3rem;
    font-weight: 600;
    opacity: 0.5;
    margin: 0;
}

.recommendation blockquote {
    font-size: .5rem;
    width: 60.241px;
    margin: 0;
    position: absolute;
    top: 34.22px;
    left: 10.12px;
}

.recommendation blockquote p {
    margin: 0;
}

.services .pic-and-text,
.portfolio a,
.logo-2#str-2 {
    font-size: 1.6rem;
}

.testimonial .name,
.footer-title {
    font-size: 1.8rem;
}

.position {
    font-size: 1.1rem;
}

.logo-2#str-1 {
    font-size: 2rem;
}

.action p,
.text,
.title+p,
.portfolio a,
.testimonial blockquote,
.logo-2#str-1 {
    line-height: 24px;
}

.action a,
.video,
.links,
.services .pic-and-text {
    line-height: 18px;
}

.portfolio .pic-and-text {
    line-height: 100%;
}

.action a,
.links a {
    background-color: var(--main-color);
    border-radius: 24px;
    color: var(--button-color);
    padding: 10px 35px;
}

.logo-2 {
    color: var(--logo-color);
}

.services .pic-and-text>div,
.testimonial .quote {
    background-color: var(--pic-group-color);
}

blockquote,
.text {
    text-align: left;
}

.photo {
    border-radius: 12px;
}

.video,
.portfolio a {
    border-radius: 24px;
    border: 0.7px solid var(--main-color);
    padding: 10px 35px;
    background-color: var(--bckg-color);
}

.services .pic-and-text>div {
    border: 1px solid var(--pic-group-border-color);
}

.services .pic-and-text>div,
.portfolio .pic-and-text img {
    border-radius: 30px;
}

.portfolio a {
    border: 1px solid var(--main-color);
}

.testimonial .quote {
    border-radius: 20px;
}

.logo2 {
    background-color: var(--main-color);
    border-radius: 20px;
}

.menu img {
    width: 29px;
    height: 25px;
}

.menu {
    padding: 0;
    border: 0;
}

.nav div img {
    width: 32.001px;
    height: 29.99px;
}

header p {
    margin: 0;
}

header a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.ellipse-right,
.ellipse-left,
.star {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.ellipse-right {
    position: absolute;
    top: -11px;
    right: -6.52px;
    border-radius: 100%;
}

.ellipse-left {
    position: absolute;
    top: 212px;
    left: -7.93px;
    border-radius: 100%;
}

.action p {
    opacity: 0.6;
    width: 340px;
    margin: 0 21.8px 0 28.2px;
}

.action {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.star {
    position: absolute;
    top: 8px;
    right: 70px;
    bottom: 29px;
    left: 13px;
}

.count {
    margin: 0;
    position: absolute;
    top: 28px;
    right: 21px;
    bottom: 9px;
    left: 16px;
}

.rating {
    border-radius: 6px;
    background-color: var(--bckg-color);
    width: 99px;
    height: 53px;
    position: absolute;
    top: -3px;
    left: 0.07px;
}

.right-corner {
    width: 98.475px;
    height: 70.926px;
    position: absolute;
    top: 0;
    right: 0;
}

.recommendation .photo {
    width: 330px;
    height: 224px;
    position: absolute;
    top: 12px;
    right: 15.48px;
    bottom: 15.23px;
    left: 9.07px;
    background: lightgray 50% / cover no-repeat, #333;
}

.Bill-Adams {
    width: 15.422px;
    height: 15.422px;
    border-radius: 15.422px;
    position: absolute;
    top: 13.01px;
    left: 10.12px;
    background: lightgray 50% / cover no-repeat, #333;
}

.author {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.964px;
    position: absolute;
    top: 14.94px;
    left: 30.36px;
}

.recommendation .quote {
    border-radius: 6px;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 4.48px;
    bottom: -5.77px;
    background-color: var(--bckg-color);
}

.left-corner {
    position: absolute;
    width: 98.47px;
    height: 70.93px;
    left: 0;
    bottom: 0;
}

.recommendation {
    width: 354.55px;
    height: 251.23px;
    position: relative;
}

.intro .wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-bottom: 99px;
}

.intro {
    position: relative;
}

.title p {
    margin: 0;
}

.teammate .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 87px;
}

.text p {
    margin: 0;
}

.text {
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.links button img {
    width: 16px;
    height: 16px;
}

.links button {
    display: flex;
    padding: 10px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.links {
    display: flex;
    align-items: flex-start;
    gap: 35px;
    margin: 0 15.5px;
}

.teammate-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.pics {
    width: 340px;
    height: 258px;
    position: relative;
}

.points {
    width: 98.477px;
    height: 70.926px;
    transform: rotate(-0.745deg);
    position: absolute;
    top: 2px;
    left: 0;
}

.teammate .photo {
    width: 340px;
    height: 242px;
    position: absolute;
    top: 16px;
    left: 0;
    background: lightgray 50% / cover no-repeat, #333;
}

.teammate .wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    width: 340px;
    margin-bottom: 99px;
}

.services .title p{
    width: 340px;
}

.services .title {
    width: 314px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 34.77px;
}

.services p {
    width: 340px;
    margin-top: 0;
    margin-bottom: 4px;
}

.arrow {
    width: 20px;
    height: 24px;
}

.services a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: flex-start;
}

.group-1 p {
    width: 104px;
    position: absolute;
    left: 79px;
    bottom: 59px;
    margin: 0;
}

.group-2 p {
    width: 112px;
    position: absolute;
    left: 75px;
    bottom: 59px;
    margin: 0;
}

.group-3 p {
    width: 54px;
    position: absolute;
    left: 104px;
    bottom: 66px;
    margin: 0;
}

.group-4 p {
    width: 29px;
    position: absolute;
    left: 117px;
    bottom: 66px;
    margin: 0;
}

.pics-group .icon {
    width: 42px;
    height: 42px;
    position: absolute;
    top: 29px;
    left: 29px;
}

.circle {
    width: 100px;
    height: 100px;
}

.pic-and-text>div {
    width: 262px;
    height: 269px;
    position: relative;
}

.group-1 {
    margin-top: 23px;
}

.pics-group {
    position: absolute;
    top: 35px;
    left: 81px;
}

.services .pic-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.services .wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    margin-bottom: 76px;
}

.portfolio .title {
    display: flex;
    width: 314px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.portfolio p {
    width: 340px;
    margin: 0;
}

.portfolio .pic-and-text img {
    width: 300px;
    height: 300px;
    flex-shrink: 0;
}

.couple-1 img {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), url("img/pic1.jpg"), lightgray 50% / cover no-repeat, #333;
}

.couple-2 img {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), url("img/pic2.jpg"), lightgray 50% / cover no-repeat, #333;
}

.couple-3 img {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), url("img/pic3.jpg"), lightgray 50% / cover no-repeat, #333;
}

.portfolio .pic-and-text div {
    width: 300px;
    height: 300px;
    position: relative;
}

.couple-1 p {
    width: 245px;
    position: absolute;
    left: 24px;
    bottom: 24px;
}

.couple-2 p {
    width: 125.3px;
    position: absolute;
    left: 24.3px;
    bottom: 24.87px;
}

.couple-3 p {
    width: 192px;
    position: absolute;
    left: 24px;
    bottom: 23.88px;
}

.portfolio .pic-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
}

.portfolio .wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 34px;
    width: 340px;
    margin-bottom: 53px;
}

.testimonial .title {
    display: flex;
    width: 314px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.testimonial .wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    width: 340px;
    margin-bottom: 147px;
}

.testimonial .quote {
    width: 340px;
    height: 257px;
    position: relative;
}

.testimonial .quote img {
    border-radius: 70px;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 40px;
    left: 40px;
}

.testimonial .quote .name {
    position: absolute;
    top: 53px;
    left: 140px;
    margin: 0;
}

.testimonial .quote .position {
    position: absolute;
    top: 83px;
    left: 140px;
    margin: 0;
}

.testimonial blockquote {
    width: 280px;
    position: absolute;
    left: 40px;
    bottom: 40px;
    margin: 0;
}

.testimonial blockquote p {
    margin: 0;
}

.logo2 {
    display: flex;
    justify-content: space-between;
    padding: 19px 26px;
}

.logo2 img {
    width: 50px;
    height: 50px;
}

.name {
    margin-left: 10px;
}

.logo-2 {
    margin: 0;
}

footer .wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: start;
    width: 330px;
    margin-top: 45px;
    margin-left: 26px;
    margin-right: 34px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 100%;
}

.contact {
    width: 162px;
    margin-top: 45px;
}

.location {
    width: 253px;
    margin-top: 45px;
}

.terms-and-policies a,
.company a,
.contact a,
.location a {
    margin: 16px 0;
}

.social-network .circle {
    width: 36px;
    height: 36px;
}

.social-network .icon {
    width: 21.6px;
    height: 21.6px;
    position: absolute;
    top: 6.32px;
    left: 7.2px;
}

.social-network .links {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0;
    position: relative;
}

.social-network {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 25px;
    margin-top: 90px;
}

.copyright {
    font-size: 1.4rem;
    line-height: normal;
    text-align: center;
    display: flex;
    align-self: center;
    width: 352px;
    margin-top: 0;
    margin-bottom: 60.99px;
}

.line {
    background-color: var(--main-color);
    width: 390px;
    height: 1px;
    display: flex;
    align-self: center;
    margin: 20px 0;
}
